<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href={% static 'css/wotd.css' %}>
        <title>
            Word of the Day
        </title>
    </head>

    <body>
        <div class="header">
            <h1>Word of the Day</h1> <br />
            
            <form id="word_form" method="post" action="/apps/employees/wordoftheday/">
                {% csrf_token %}
                {% for letter in words.0.word %}
                    <input type="text" value="{{ letter }}" name="letter {{ forloop.counter0 }}" maxlength="1" />
                {% endfor %}
                <input type="text" name="extra letter"  maxlength="1"/>
                <br />
                <input type="submit" name="submit" id="submit" />
                {% if error %}
                {{ error }}
                {% endif %}
            </form>
        </div>
        
        <div class="row">
            <div class="column">
                <h2>Previous Words</h2>
                <div id="prev_words">
                    {% for word in words %}
                    {{ word.word }} <br />
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <h2>Scores</h2>
                <div id="scores">
                    {% for score in scores %}
                    {{ score.0 }} : {{ score.1 }} <br />
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="footer">

        </div>
        
    </body>
</html>