<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href={% static 'css/wotd.css' %}>
        <title>
            Word of the Day
        </title>
    </head>

    <body>
        <div class="header">
            <h1>Word of the Day</h1> <br />
            
            <form id="word_form" method="post" action="/apps/employees/wordoftheday/">
                {% csrf_token %}
                {% for letter in words.0.word %}
                    <input type="text" value="{{ letter }}" name="letter {{ forloop.counter0 }}" maxlength="1" />
                {% endfor %}
                <input type="text" name="extra letter"  maxlength="1"/>
                <br />
                <input type="submit" name="submit" id="submit" />
            </form>
        </div>
        
        <div class="row">
            <div class="column">

            </div>
            <div class="column">
                {% for word in words %}
                {{ word.word }} <br />
                {% endfor %}
            </div>
            <div class="column">
                
            </div>

        </div>

        <div class="footer">

        </div>
        
    </body>
</html>