<!DOCTYPE html>
<html lang="en">

<head>

  {% include "head_part.html" %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "sidebar_part.html" %}


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

            {% include "topbar_part.html" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Game 3</h1>
                    </div>


                    <!-- Content Row -->
                    <!-- PLEASE PUT GAME HERE -->
                    <div class="column is-4 is-offset-4">
                        <div class="field">
                          <label>Room name</label>

                          <div class="control">
                            <input class="input" type="text" placeholder="Room name" id="room-name-input">
                          </div>
                        </div>

                        <div class="field">
                          <label>Username</label>

                          <div class="control">
                            <input class="input" type="text" placeholder="Username" id="username-input">
                          </div>
                        </div>

                        <div class="field">
                          <div class="control">
                            <a class="button is-info" id="room-name-submit">Submit</a>
                          </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

          {% include "footer_part.html" %}


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include "modals_and_scripts_part.html" %}
    <script>
        // Automatically set the focus to the room name input
        document.querySelector('#room-name-input').focus();

        // If you hit "enter" on the keyboard, trigger the click method
        document.querySelector('#room-name-input').onkeyup = function(e) {
          if (e.keyCode === 13) {
            document.querySelector('#room-name-submit').click();
          }
        };

        // When you submit the form, redirect the user to the room page
        document.querySelector('#room-name-submit').onclick = function(e) {
          var roomName = document.querySelector('#room-name-input').value;
          var userName = document.querySelector('#username-input').value;

          window.location.replace(roomName + '/?username=' + userName);
        };
    </script>


</body>

</html>